
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
  font-size: 200%;
}

.footer {
  margin-top: 2em;

  @media screen and (max-width: 768px) {
    img {
      margin-top: 1rem;
    }
  }
}

.byqr {
  max-width: 200px;
}
